.change_password_container {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 20px 25px;
}

.change_pwdBtn button {
    border: 0;
    outline: 0;
    background-color: #2E7D32;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}